* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid lime;*/
}

:root {
  --primary-col: #3b3b3b;
  --secondary-col: #323232;
  --accent-col: #e1ace9;
  --accent-col2: #e48af1;
  --background-col: #202020;
}

body {
  background: var(--background-col);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(1rem, 3vw, 2rem);
  color: aliceblue;
  overflow: hidden;
}

.main-container {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 5fr;
  padding: 1.5rem;
  gap: 0.5rem;
}

.display-container {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.display-top {
  display: flex;
  justify-content: end;
  align-items: end;
  color: rgb(158, 158, 158);
}

.display-bottom {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  font-size: 2.5rem;
}

.calculator-history-container {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}

.calculator {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(5, minmax(auto, 1fr));
  overflow: hidden;
  gap: 0.123rem;
  user-select: none;
}

.btn-num {
  background-color: var(--primary-col);
  border: none;
  border-radius: 4px;
  font-size: clamp(1rem, 3vw, 2rem);
  color: aliceblue;
}

.btn-num:hover {
  background-color: var(--secondary-col);
}

.btn-op {
  background-color: var(--secondary-col);
  border: none;
  border-radius: 4px;
  font-size: clamp(1rem, 3vw, 2rem);
  color: aliceblue;
}

.btn-op:hover {
  background-color: var(--primary-col);
}

.btn-g {
  background-color: var(--accent-col);
  border: none;
  border-radius: 4px;
  font-size: clamp(1rem, 3vw, 2rem);
}

.btn-g:hover {
  background-color: var(--accent-col2);
}

.btn-tba {
  background-color: var(--secondary-col);
  border: none;
  border-radius: 4px;
}

.result-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  color: rgb(158, 158, 158);
  height: 100%;
}

.verlauf {
  font-size: 1rem;
  border-bottom: 2px solid var(--accent-col);
}

.history {
  place-self: end;
  width: 100%;
  text-align: right;
  flex-direction: column;
  overflow-y: auto;
  color: rgb(158, 158, 158);
  padding-right: 0.5rem;
}

#result-history {
  max-height: 400px;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
}
